@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    border: 0;
    font-family: 'Inter', 'Helvetica', 'Roboto', sans-serif;
    width: 100%;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#logoe {
    position: relative;
    width: 25px;
    left: 10%;
}

.menu1 {
    position: absolute;
    text-align: center;
    padding: 15px 0;
    left: 0px;
}
.nav-enlaces{
    position: absolute;
    right: -55%;
    top: 25px;
}
.nav-enlaces a{
    padding-right: 10px;
}
.nav-enlaces svg{
    color: black;
    width: 2%;
}

.menu1 a {
    color: black;
    padding: 10px 15px;
    font-size: 14px;
}

.s1 {
    position: relative;
    text-align: center;
    height: 800px;
}

#elem {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    margin-top: 40px;
}

#p1 {
    font-size: 16px;
    color: #333;
    margin-top: -30px;
}

#compu {
    position: relative;
    left: 10%;
    width: 70%;
    margin: 50px;

}

.debajoC {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pago {
    display: inline;
    margin-top: 20px;
}

.precio {
    border: 1px solid gray;
    padding: 10px 15px;
    display: inline-block;
    margin: 5px;
}

#btn1 {
    display: inline;
    color: white;
    background-color: #449FDD;
    border: 1px solid gray;
    height: 45px;
    width: 220px;
    margin-left: 30px;
}

.peque {
    position: relative;
    left: 18%;
    text-align: center;
}

.textPe {
    font-size: 12px;
    margin-top: 10px;
}

.azul {
    color: #449FDD;
}

#logoeA {
    display: block;
    margin: 180px auto 20px;
    width: 140px;
}

.nuevo {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.sub1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more,
.now,
.tools {
    position: relative;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: left;
    margin: 60px 2%;
}

.vista {
    width: 100%;
    border-radius: 5px;
}

.casilla {
    font-size: 18px;
    margin-top: 10px;
}

.gris {
    color: gray;
    font-size: 14px;
}

.perfil {
    width: 60%;
    margin-top: 10px;
}

.s3 {
    background: linear-gradient(to bottom right,
            #5E2498,
            #AA62D3);
    height: 800px;
    display: flex;
}

.part1 {
    width: 50%;
    padding: 150px 150px;
    color: white;


}

#car {
    width: 15%;
    height: auto;
    position: relative;
    left: 40%;
    margin: 0;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.wh {
    background-color: rgb(20, 18, 18, 0.3);
    color: white;
}

.pur {
    color: #5E2498;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
}

.pie {
    color: #555;
    font-size: 12px;
}

html,
body {
    overflow-x: hidden;
}

.part2 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.part2 img {
    width: 99%;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);

}

.s4 {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod {
    text-align: center;
    width: 30%;
}

.modos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod{
   position: relative;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: left;
    margin: 60px 2%;
}
.imod{
  width: 100%;
  border-radius: 4px;
 
}
.s5{
    height: 700px;
    background-image: url('imagenesInicio/paisaje.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
     flex-direction: column;       
    justify-content: center;      
    align-items: center;         
    text-align: center;
}
.solo{
    margin: 50px 0;
}
.solo h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.solo p{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    text-align: left;
}
.iconos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
    width: 40%;

}
.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.completo{
    width: 65%;
    border-radius: 50%;
}
.iconos a{
    color: white;
}
.s6{
    height: 600px;
    display: flex;

}
.limites{
    padding: 100px 80px;
    width: 40%;
}
.enca{
    display: flex;
    align-items: center;
    gap: 20px;
}
.enca img{
    display: flex;
    width: 10%;
    height: 10%;
    border-radius: 10%;
}
.enca h2{
    display: inline;
}


.log{
    position: absolute;
    left: 2%;
    width: 2%;
}
.cap{
    
    display: flex;
    align-items: center;
    width: 60%;
}
.cap img{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}
.s8{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.codAbi{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    width:500px ;
    text-align: center;
}
.conte{
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.carac{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s9{
    height: 600px;
    display: flex;
    flex-direction: row;
}
.lateral{
    width: 70%;
    margin-left: 90px;
    margin-right: 0;
}
.lateral img{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}
.faciles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    text-align: left;
    margin-right: 150px;
    margin-left: 0;
}
.s10{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #263243, #212B39);
    color: white;
}

.priv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    margin-bottom: 60px;

}
.lis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:80% ;
}

.titC{

    text-align: center;
}
.s11{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.des{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

}
.des img{
    width: 20%;
}
.des button{
    background-color: #439FDC;
    color: white;
    text-align: center;
    padding: 20px 40px;
    border: none;
}
.pie1{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 70%;
}
.opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    text-align: center;
}
.fila2{
    width: 90%;
}
/* Ocultar las opciones del menú en pantallas pequeñas */
.nav-content {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

/* Cuando el botón está activo  muestra el menú */
.menu-button.enabled + .nav-content {
  display: flex;
}

@media (min-width: 680px) {
  .menu-button {
    display: none;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
